@charset "utf-8";
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

option,
select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="reset"] {
    background-color: #616161;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="reset"]:hover {
    background-color: #af4c4c;
}

.error {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}

.background-image {
    background-image: url("../images/sy.png");
    width: 949px;
    height: 687px;
}

form {
    text-align: center;
    padding-top: 100px;
}

textarea {
    width: 12vmax;
    height: 6vmax;
}