@charset "UTF-8";

.all {
    margin: auto;
    max-width: 500px;
    border: solid;
    margin-top: 0%;
    padding: 0%;
    padding-top: 0%;
    border: none;
    background-color: #FFF5EE;
}

.head {
    background-color: #FF6600;
    color: #FFFFFF;
    border-bottom: 10px #CC5200 solid;
}

.head:before {
    content: url("../images/title_bg.png");
}

.content {
    list-style:square inside url("../images/li_bg.png");
    line-height: 30px;
}

a:link,a:hover,a:active,a:visited {
    text-decoration: none;
    color: #666666;
}

a:hover {
    /* text-decoration: underline;
    text-decoration-color: #666666; */
    color: #FF6600;
}
