@charset "UTF-8";
.frame {
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    width: 320px;
    height: 360px;
    background-color: white;
    border-style: solid;
    border-color: rgba(181, 181, 181, 0.8);
}

.ff {
    position: absolute;
    margin-left: 12px;
}

.content {
    font-size: 14px;
}

.footer {
    font-size: 12px;
}

.btn {
    margin-left: 18px;
}

.price {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 148, 70, 0.9);
}

.name {
    font-weight: bold;
    font-size: 15px;
    color: #813a00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.num {
    position: absolute;
}