@charset "UTF-8";
.frame {
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    width: 320px;
    height: 400px;
    background-color: white;
    border-style: solid;
    box-shadow: 1px 1px 0px #888888;
}